@model IEnumerable<mvc_search.Models.Teacher>

@{
    ViewBag.Title = "Teachers";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <style>
        </style>
    </head>
    <body>
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-dark" })
        </p>
        <p>
            @using (Html.BeginForm("Index", "Teacher", FormMethod.Get))
            {
                <span class="mb-2">Search: </span>
                @Html.TextBox("searchValue", null, new { @class = "form-control mb-2", placeholder = "Search text..." })
                <input type="submit" value="Search" class="btn btn-outline-dark" />
            }
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="col-sm-6">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-dark" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-dark" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-dark" }) |
                        @Html.ActionLink("Booked", "Booked", new { id = item.Id }, new { @class = "btn btn-outline-dark" }) |
                        @Html.ActionLink("BookedMinus", "BookedMinus", new { id = item.Id }, new { @class = "btn btn-outline-dark" })
                    </td>
                </tr>
            }
        </table>
    </body>
</html>
